{% extends 'studentBase.html.twig' %}

{% block body %}
    <div class="page-inner">
        
        {% block bageHeader %}
            <div class="page-header">
                <h3 class="fw-bold mb-3">Mobilités</h3>
                <ul class="breadcrumbs mb-3">
                    <li class="nav-home">
                        <a href="#">
                            <i class="icon-home"></i>
                        </a>
                    </li>
                    
                    <li class="separator">
                        <i class="icon-arrow-right"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Liste des mobilités</a>
                    </li>
                </ul>
            </div>             
        {% endblock %}

        {% block Table %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Liste des Mobilités</h4>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table
                                    id="multi-filter-select"
                                    class="display table"
                                >
                                    <thead>
                                        <tr>
                                            <th>Université</th>   
                                            <th>Site Web</th>                                         
                                            <th>Niveau</th>
                                            <th>Spécialité</th>
                                            <th>Option</th>
                                            <th>Place Dsiponible</th>      
                                            <th>Action</th>                                                                                
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for mobilite in mobilites %}
                                            <tr>
                                                <td style="cursor: pointer;">{{ mobilite.nomUniversité }}</td>
                                                <td style="cursor: pointer"> <a class="text-dark" href="{{ mobilite.siteWeb }}" target="_blank" >{{ mobilite.siteWeb }} </a></td>
                                                <td style="cursor: pointer;">{{ mobilite.niveau }}</td>
                                                <td style="cursor: pointer;">{{ mobilite.specialite }}</td>
                                                <td style="cursor: pointer;">{{ mobilite.optionn }}</td>
                                                <td style="cursor: pointer;">{{ mobilite.nbreDePlaceDisponible ?? '--' }}</td> 
                                                <td>
                                                    <div>
                                                        <button type="button" class="btn" 
                                                            style="background-color:#21263E; color:white; width:100%; font-family: sans-serif;"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#exampleModal"
                                                            data-bs-whatever="@mdo"
                                                        > S'inscrire
                                                        </button>


                                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <form>

                                                                                 <div class="row ">
                                                                                    <div class="col-md-6 mb-4">

                                                                                        <div class="form-outline ">
                                                                                            <label  class="mb-1" for="niveau">Niveau<span style="color: red;">*</span></label>
                                                                                            <select
                                                                                                class="form-select form-control"
                                                                                                id="niveauSelect"
                                                                                                name="niveau" >
                                                                                                <option selected value="">Choisir un niveau</option>
                                                                                                <option value="4ème">4ème</option>
                                                                                                <option value="5ème">5ème</option>                                   
                                                                                            </select>                                         
                                                                                        </div>

                                                                                        <div id="idError" class="error-container" style="display:none" >
                                                                                            <div class="icon-container">
                                                                                                <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                                                            </div>
                                                                                            <div class="error-message">Ce champs est requis.</div>
                                                                                        </div> 
                                                                                        <div id="idLengthError" class="error-container" style="display:none" >
                                                                                            <div class="icon-container">
                                                                                                <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                                                            </div>
                                                                                            <div class="error-message">10 chiffres exactement.</div>
                                                                                        </div> 

                                                                                    </div>

                                                                                    <div class="col-md-6 mb-2 ">

                                                                                        <div class="form-outline">
                                                                                            <label class="mb-1" for="specialite">Spécialité<span style="color: red;">*</span></label>
                                                                                            <select
                                                                                                class="form-select form-control"
                                                                                                id="specialiteSelect"
                                                                                                name="specialite"
                                                                                            >
                                                                                                <option selected value="">Choisir une spécialité</option>
                                                                                                <option value="informatique">Informatique</option>
                                                                                                <option value="genie_civil">Génie civil</option>
                                                                                                <option value="telecommunications">Télécommunications</option>
                                                                                                <option value="electromecanique">Electromécanique</option>                                                                        
                                                                                            </select>                                           
                                                                                        </div>

                                                                                        <div id="cinError" class="error-container" style="display:none" >
                                                                                            <div class="icon-container">
                                                                                                <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                                                            </div>
                                                                                            <div class="error-message">Ce champs est requis.</div>
                                                                                        </div> 

                                                                                        <div id="cinLengthError" class="error-container" style="display:none" >
                                                                                            <div class="icon-container">
                                                                                                <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                                                            </div>
                                                                                            <div class="error-message">8 chiffres exactement.</div>
                                                                                        </div> 

                                                                                    </div>
                                                                                </div>

                                                                                <div class="row ">
                                                                                    <div class="col-md-6 mb-4">

                                                                                        <div class="form-outline">
                                                                                            <label class="mb-1" for="optionSelect">Option<span style="color: red;">*</span></label>
                                                                                            <select class="form-select form-control" id="optionSelect" name="option">
                                                                                                <option value="" selected>Choisir une option</option>
                                                                                            </select>
                                                                                        </div>

                                                                                        <div id="idError" class="error-container" style="display:none" >
                                                                                            <div class="icon-container">
                                                                                                <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                                                            </div>
                                                                                            <div class="error-message">Ce champs est requis.</div>
                                                                                        </div> 
                                                                                        <div id="idLengthError" class="error-container" style="display:none" >
                                                                                            <div class="icon-container">
                                                                                                <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                                                            </div>
                                                                                            <div class="error-message">10 chiffres exactement.</div>
                                                                                        </div> 

                                                                                    </div>

                                                                                    <div class="col-md-6 mb-2 ">

                                                                                        <div class="form-outline">
                                                                                            <label class="mb-1" for="cin">Classe<span style="color: red;">*</span></label>
                                                                                            <input type="text" id="cin" class="form-control " name="cin">                                            
                                                                                        </div>

                                                                                        <div id="cinError" class="error-container" style="display:none" >
                                                                                            <div class="icon-container">
                                                                                                <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                                                            </div>
                                                                                            <div class="error-message">Ce champs est requis.</div>
                                                                                        </div> 

                                                                                        <div id="cinLengthError" class="error-container" style="display:none" >
                                                                                            <div class="icon-container">
                                                                                                <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                                                            </div>
                                                                                            <div class="error-message">8 chiffres exactement.</div>
                                                                                        </div> 

                                                                                    </div>
                                                                                </div>

                                                                                <div class="row ">
                                                                                <div class="col-md-6 mb-4">

                                                                                    <div class="form-outline ">
                                                                                        <label  class="mb-1" for="idUniversitaire">Moyenne<span style="color: red;">*</span></label>
                                                                                        <input type="text" class="form-control " id="idUniversitaire" name="idUniversitaire" placeholder="exemple: 15.00">                                           
                                                                                    </div>

                                                                                    <div id="idError" class="error-container" style="display:none" >
                                                                                        <div class="icon-container">
                                                                                            <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                                                        </div>
                                                                                        <div class="error-message">Ce champs est requis.</div>
                                                                                    </div> 
                                                                                    <div id="idLengthError" class="error-container" style="display:none" >
                                                                                        <div class="icon-container">
                                                                                            <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                                                        </div>
                                                                                        <div class="error-message">10 chiffres exactement.</div>
                                                                                    </div> 

                                                                                </div>

                                                                                <div class="col-md-6 mb-2 ">

                                                                                    <div class="form-outline">
                                                                                        <label class="mb-1" for="cin">Langues<span style="color: red;">*</span></label>
                                                                                        <input type="text" id="cin" class="form-control " name="cin">                                            
                                                                                    </div>

                                                                                    <div id="cinError" class="error-container" style="display:none" >
                                                                                        <div class="icon-container">
                                                                                            <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                                                        </div>
                                                                                        <div class="error-message">Ce champs est requis.</div>
                                                                                    </div> 

                                                                                    <div id="cinLengthError" class="error-container" style="display:none" >
                                                                                        <div class="icon-container">
                                                                                            <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                                                        </div>
                                                                                        <div class="error-message">8 chiffres exactement.</div>
                                                                                    </div> 

                                                                                </div>
                                                                                </div>

                                                                                <div class="row ">
                                                                                    <div class="col-md-6 mb-4">

                                                                                        <div class="form-outline ">
                                                                                            <label  class="mb-1" for="idUniversitaire">Activités<span style="color: red;">*</span></label>
                                                                                            <input type="file" class="form-control " id="idUniversitaire" name="idUniversitaire">                                           
                                                                                        </div>

                                                                                        <div id="idError" class="error-container" style="display:none" >
                                                                                            <div class="icon-container">
                                                                                                <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                                                            </div>
                                                                                            <div class="error-message">Ce champs est requis.</div>
                                                                                        </div> 
                                                                                        <div id="idLengthError" class="error-container" style="display:none" >
                                                                                            <div class="icon-container">
                                                                                                <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                                                            </div>
                                                                                            <div class="error-message">10 chiffres exactement.</div>
                                                                                        </div> 

                                                                                    </div>

                                                                                    <div class="col-md-6 mb-2 ">

                                                                                        <div class="form-outline">
                                                                                            <label class="mb-1" for="cin">CV</label>
                                                                                            <input type="file" id="cin" class="form-control " name="cin">                                            
                                                                                        </div>

                                                                                        <div id="cinError" class="error-container" style="display:none" >
                                                                                            <div class="icon-container">
                                                                                                <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                                                            </div>
                                                                                            <div class="error-message">Ce champs est requis.</div>
                                                                                        </div> 

                                                                                        <div id="cinLengthError" class="error-container" style="display:none" >
                                                                                            <div class="icon-container">
                                                                                                <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                                                            </div>
                                                                                            <div class="error-message">8 chiffres exactement.</div>
                                                                                        </div> 

                                                                                    </div>
                                                                                </div>

                                                                                 <div class="row ">
                                                                                    <div class=" mb-4">

                                                                                        <div class="form-outline ">
                                                                                            <label  class="mb-1" for="idUniversitaire">Certificats<span style="color: red;">*</span></label>
                                                                                            <input type="file" class="form-control " id="idUniversitaire" name="idUniversitaire">                                           
                                                                                        </div>

                                                                                        <div id="idError" class="error-container" style="display:none" >
                                                                                            <div class="icon-container">
                                                                                                <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                                                            </div>
                                                                                            <div class="error-message">Ce champs est requis.</div>
                                                                                        </div> 
                                                                                        <div id="idLengthError" class="error-container" style="display:none" >
                                                                                            <div class="icon-container">
                                                                                                <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                                                            </div>
                                                                                            <div class="error-message">10 chiffres exactement.</div>
                                                                                        </div> 

                                                                                    </div>

                                                                                </div>

                                                                            </form>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn" 
                                                                            data-bs-dismiss="modal"
                                                                            style="background-color:#E8E8E8; color:#21263E; width:30%; font-family: sans-serif;"
                                                                            >Close</button>

                                                                            <button type="button" class="btn" 
                                                                            style="background-color:#21263E; color:white; width:30%; font-family: sans-serif;"
                                                                            >S'inscrire</button>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                    </div>
                                                </td>                                                                                             
                                            </tr>
                                        {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block script %}
            <script>
        document.addEventListener('DOMContentLoaded', function () {
            const specialiteSelect = document.getElementById('specialiteSelect');
            const optionSelect = document.getElementById('optionSelect');

            const options = {
                informatique: ['ARTIC', 'DS', 'ERP-BI', 'SIM', 'SAE', 'GAMIX', 'INFINI', 'NIDS', 'TWIN', 'SE', 'SLEAM'],
                genie_civil: ['Ressources naturelles et études énergétiques', 'Ponts et chaussées', 'Structures et ouvrages'],
                telecommunications: ['IoSyS', 'WIN'],
                electromecanique: ['Mécatronique', 'OGI'],
            };

            specialiteSelect.addEventListener('change', function () {
                const selectedSpecialite = this.value;
                const correspondingOptions = options[selectedSpecialite] || [];

                // Clear the options in optionSelect
                optionSelect.innerHTML = '<option value="" selected>Choisir une option</option>';

                // Populate the optionSelect with corresponding options
                correspondingOptions.forEach(function (option) {
                    const newOption = document.createElement('option');
                    newOption.value = option;
                    newOption.textContent = option;
                    optionSelect.appendChild(newOption);
                });
            });
        });
    </script>

        {% endblock %}

    </div>
{% endblock %}
