<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} Login {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
        <script src="{{ asset('js/plugin/webfont/webfont.min.js') }}"></script>
        <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
            families: [
                "Font Awesome 5 Solid",
                "Font Awesome 5 Regular",
                "Font Awesome 5 Brands",
                "simple-line-icons",
            ],
            urls: ["{{ asset('css/fonts.min.css') }}"],
            },
            active: function () {
            sessionStorage.fonts = true;
            },
        });
        </script>
    
    </head>

    <body>
        <section class="vh-100" 
        style="background-color:#F3F9FF"
        >
            <div class="container  h-100">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-12 col-lg-9 col-xl-6">
                        <div class="bg-white custom-shadow " style="border-radius: 15px;">
                            <div class="card-body p-4 p-md-5">
                                <h2 class="mb-4">Se connecter</h2>
                                <form id="form" action=" {{ path('action_login') }}" method="post">
                                                                   
                                    <div class="row ">
                                        <div class="mb-2">

                                            <div class="form-outline">
                                                <label class="mb-1" for="email">Email<span style="color: red;">*</span></label>
                                                <input type="text" id="email" class="form-control" name="email">
                                            </div>

                                            <div id="emailError" class="error-container" style="display:none" >
												<div class="icon-container">
													<i class="fas fa-exclamation fa-xs" style="color: red;"></i>
												</div>
												<div class="error-message">Ce champs est requis.</div>
											</div> 

                                            <div id="invalidEmail" class="error-container" style="display:none" >
												<div class="icon-container">
													<i class="fas fa-exclamation fa-xs" style="color: red;"></i>
												</div>
												<div class="error-message">Email invalide.</div>
											</div> 

                                            {% if emailIntrouvable %}
                                                <div class="error-container">
                                                    <div class="icon-container">
                                                        <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                    </div>
                                                    <div class="error-message">{{ emailIntrouvable }}</div>
                                                </div> 
                                            {% endif %}

                                        </div>                                       
                                    </div>

                                    <div class="row ">
                                        <div class="mb-2 ">

                                            <div class="form-outline">
                                                <label class="mb-1" for="password">Mot de passe<span style="color: red;">*</span></label>
                                                <input type="password" id="password" class="form-control" name="password">                                                                                 
                                            </div>

                                        
                                            <div id="passwordError" class="error-container" style="display:none" >
												<div class="icon-container">
													<i class="fas fa-exclamation fa-xs" style="color: red;"></i>
												</div>
												<div class="error-message">Ce champs est requis.</div>
											</div> 

                                            <div id="passwordLengthError" class="error-container" style="display:none" >
												<div class="icon-container">
													<i class="fas fa-exclamation fa-xs" style="color: red;"></i>
												</div>
												<div class="error-message">8 caracteres au minimum.</div>
											</div> 

                                            {% if passwordIntrouvable %}
                                                <div class="error-container">
                                                    <div class="icon-container">
                                                        <i class="fas fa-exclamation fa-xs" style="color: red;"></i>
                                                    </div>
                                                    <div class="error-message"> {{ passwordIntrouvable }}</div>
                                                </div> 
                                            {% endif %}

                                        </div>                                        
                                    </div>

                                    <div class="row">
                                        <div class="col text-end">
                                            <a href="#" style="color: #21263E; text-decoration: none; font-family: serif;">Mot de passe oublié</a>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="mt-3">
                                            <button class="btn col-md-6" type="submit" 
                                                style="background-color:#21263E; color:white; width:100%; font-family: sans-serif;">
                                                Se connecter
                                            </button>                                           
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="mt-1">
                                            Avez vous déja un compte? 
                                            <span> 
                                                <a class="nav-item" 
                                                    style="color:#21263E; text-decoration: none; font-family: serif; cursor: pointer;" 
                                                    href="{{ path('app_signup') }}" >
                                                    <b>S'inscrire</b>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                   
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <style>
            .gradient-custom {
                background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
            }

            .card-registration .select-input.form-control[readonly]:not([disabled]) {
                font-size: 1rem;
                line-height: 2.15;
                padding-left: .75em;
                padding-right: .75em;
            }

            .card-registration .select-arrow {
                top: 13px;
            }

            .custom-shadow {
                box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Adjust as needed */
            }

            .icon-container {
                margin-left:3px;
                margin-right: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
            }		

            .error-container {
                margin-top:3px;
                display: flex;
                align-items: center;
                background-color:#FFDEDE;
            }		

            .error-message {
                color: red;
                font-size: 12px;
                margin-left: 2px;
            }		

            .form-control.error-border {
                border: 1px solid red;
            }
            
        </style>

        {% block script %}
           <script>

                document.getElementById('form').addEventListener('submit', function(event) {
                let isValid = true;

                // Email Universitaire Validation
                const email = document.getElementById('email');
                const emailError = document.getElementById('emailError');
                const invalidEmail = document.getElementById('invalidEmail');
                const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

                if (email.value.trim() === '') {
                    emailError.style.display = 'flex';
                    invalidEmail.style.display = 'none';
                    email.classList.add('error-border');
                    isValid = false;
                } else if (!emailRegex.test(email.value.trim())) {
                    invalidEmail.style.display = 'flex';
                    emailError.style.display = 'none';
                    email.classList.add('error-border');
                    isValid = false;
                } else {
                    invalidEmail.style.display = 'none';
                    emailError.style.display = 'none';
                    email.classList.remove('error-border');
                }

                // Password Validation
                const password = document.getElementById('password');
                const passwordError = document.getElementById('passwordError');
                const passwordLengthError = document.getElementById('passwordLengthError');

                if (password.value.trim() === '') {
                    passwordError.style.display = 'flex';
                    passwordLengthError.style.display = 'none';
                    password.classList.add('error-border');
                    isValid = false;
                } else if (password.value.trim().length < 8) {
                    passwordLengthError.style.display = 'flex';
                    passwordError.style.display = 'none';
                    password.classList.add('error-border');
                    isValid = false;
                } else {
                    passwordLengthError.style.display = 'none';
                    passwordError.style.display = 'none';
                    password.classList.remove('error-border');
                }

                if (!isValid) {
                    event.preventDefault();
                }
            });


            </script>        
        {% endblock %}

    </body>
</html>
